# Skills are tracked, everything else is ignored
/*
!/.gitignore
!/TODO.md
!/*.skill
!/README.md
!/LICENSE
!/AGENT.md
!/flutter-updater/
!/go-updater/
!/java-updater/
!/js-updater/
!/project-updater/
!/templates/
